.carousel-container {
    position: relative;
}

.swiper-container {
    margin-top: 30px;
}


.swiper-button-next0,
.swiper-button-next1,
.swiper-button-next2,
.swiper-button-next3 {
    right: 0px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-prev0,
.swiper-button-prev1,
.swiper-button-prev2,
.swiper-button-prev3 {
    margin-left: -30px;
    left: 0px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-prev0,
.swiper-button-prev1,
.swiper-button-prev2,
.swiper-button-prev3,
.swiper-button-next0,
.swiper-button-next1,
.swiper-button-next2,
.swiper-button-next3 {
    position: absolute;
    width: 27px;
    height: 44px;
    margin-top: 50px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 27px 44px;
    z-index: 101;
    top: 40px;
}